<ul>
	<li{ifCurrent 'Dashboard:select2'} class="active"{/ifCurrent}><a n:href="Dashboard:select2">Použití s Select2</a></li>
	<li{ifCurrent 'Dashboard:tomselect'} class="active"{/ifCurrent}><a n:href="Dashboard:tomselect">Použití s TomSelect</a></li>
</ul>
